body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.weather-info {
    margin-top: 20px;
}

.weather-info table {
    width: 100%;
    border-collapse: collapse;
}

.weather-info td {
    padding: 8px;
    border: 1px solid #ddd;
}

.weather-info td:first-child {
    font-weight: bold;
    text-align: left;
}

.weather-info td:last-child {
    text-align: right;
}


.custom-button {
    background-color: mediumblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    display: block; /* Make the button a block element */
    margin: 20px auto; /* Add margin and center horizontally */
    text-align: center; /* Center the text */
}

.custom-button:hover {
    background-color: darkblue;
}

.custom-button:active {
    background-color: navy; /* Change background color when button is pressed */
    transform: scale(0.98); /* Slightly scale down the button */
}

.highlighted-row {
    background-color: darkred;
    color: white;
}