---
---
<head>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script type="text/javascript" src="/assets/myjs/gallery.js"></script>
</head>

<body>
{% assign albumfolder = include.albumfolder %}
{% assign templateImageFiles = site.static_files | where_exp: "item", "item.path contains 'thumbnails'" %}
{% assign imageFiles = templateImageFiles | where_exp: "item", "item.path contains albumfolder" %}
{% assign gallery_images_per_page = 12 %}

{% assign last_post_name = '' %}
{% assign current_post = 0 %}
{% assign postarray = "" %}
{% assign imagecount = 0 %}
{%  assign currentpage =  1 %}
{% for image in imageFiles %}
    {% assign postname = image.path | replace: '/thumbnails', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
    {% if forloop.first == false  %}
        {% if postname != last_post_name %}
            {% assign postarray = postarray | append: imagecount | append: ',' %}
            {% assign current_post = current_post | plus: 1 %}
            {% assign imagecount = 0 %}   
        {% endif %}
    {% endif %}
    {% assign imagecount = imagecount | plus: 1 %}
    {% assign last_post_name = postname %} 
{% endfor %}
{% assign postarray = postarray | append: imagecount | append: ',' %}


{% assign postarray = postarray | split: ',' %}
{% assign pagearray = "" %}
{% assign currentpage = 1 %}
{% assign pageimagecount = 0 %}
{% for postcount in postarray %}
    {% assign pageimagecount =  pageimagecount | plus: postcount %}
    {% if pageimagecount > gallery_images_per_page %}
        {% assign currentpage = currentpage | plus: 1%}
        {% assign pageimagecount = postcount %}
    {% endif %}
    {% assign pagearray = pagearray |  append:  currentpage | append: ',' %} 
{% endfor %}
{% assign postpagearray = pagearray | split: ',' %}

{% assign total_pages = currentpage %}
{% assign last_post_name = '' %}

{% if total_pages > 1 %}
<!-- Pagination links (top)-->
<div id="pagination-top" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link" id="prev-page-top" onclick="scrollToTop()"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
                <li class="page-item">
                    <a href="#" class="page-link" data-page="{{ i }}" onclick="scrollToTop()">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-index align-middle">
                <span class="mobile-span">1</span>
                <span class="text-muted"> / {{ total_pages }}</span>
            </li>
            <li class="page-item">
                <a href="#" class="page-link" id="next-page-top" onclick="scrollToTop()"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}

<div id="image-gallery" class="image-gallery">
    <table class="gallery-table">
        {% assign currentcolumn = 0 %}
        {% assign maxcolumns = 2 %}
        {% assign currentimageindex = 0 %}
        {% for imagecount in postarray %}
            {% assign page = postpagearray[forloop.index0] %}    
            {% assign ubound = imagecount | minus: 1 %}
            {% for i in (0..ubound) %}
                {% assign image = imageFiles[currentimageindex] %}
                {% assign postname = image.path | replace: '/thumbnails', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
                {% if forloop.first %}
                    <tr class="page" data-page="{{ page }}">
                    <td>
                    <h2>{{ postname }}</h2>
                    </td>
                    </tr>
                {% endif %}
                {% if currentcolumn == 0 %}
                    <tr class="page" data-page="{{ page }}">
                {% endif %}

                <td class="gallery-td">
                <div class="image-container">
                {% assign redirect = '/posts/' | append: postname | replace: ' ', '-' %}
                <a href="{{ redirect }}">
                    <img class="gallery-image" data-src="{{ image.path }}" src="" title="{{ redirect }}" alt="{{ redirect }}" />
                </a>
                </div>             
                </td>
                {% assign currentcolumn = currentcolumn | plus: 1 %}
                {% if forloop.last or currentcolumn == maxcolumns %}
                    {% for j in (currentcolumn..maxcolumns) %}
                        <td></td>
                    {% endfor %}
                    </tr>
                    {% assign currentcolumn = 0 %}
                {% endif %}
                {% assign currentimageindex = currentimageindex | plus: 1 %}

            {% endfor %}

        {% endfor %}
    </table>
</div>

{% if total_pages > 1 %}
<!-- Pagination links (bottom)-->
<div id="pagination-bottom" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link" id="prev-page-bottom" onclick="scrollToTop()" aria-label="previous-page"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
            <li class="page-item">
                <a href="#" class="page-link" data-page="{{ i }}" onclick="scrollToTop()">{{ i }}</a>
            </li> 
            {% endfor %}
            <li class="page-index align-middle">
                <span class="mobile-span">1</span>
                <span class="text-muted"> / {{ total_pages }} </span>
            </li>
            <li class="page-item">
                <a href="#" class="page-link" id="next-page-bottom" onclick="scrollToTop()" aria-label="next-page"><i class="fas fa-angle-right"></i></a>
            </li>
            

        </ul>
    </nav>
</div>
{% endif %}
</body>
