<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script type="text/javascript" src="/assets/myjs/gallery.js"></script>

{% assign albumfolder = include.albumfolder %}
{% assign templateImageFiles = site.static_files | where_exp: "item", "item.path contains 'Thumbnails'" %}
{% assign imageFiles = templateImageFiles | where_exp: "item", "item.path contains albumfolder" %}
{% assign images_per_page = 7 %}
{% assign total_pages = imageFiles.size | divided_by: images_per_page | plus: 1 %}
{% assign lastpostname = '' %}

<!-- Pagination links (top)-->
<div id="pagination-top" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link" id="prev-page-top" onclick="scrollToTop()"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
                <li class="page-item">
                    <a href="#" class="page-link" data-page="{{ i }}" onclick="scrollToTop()">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item">
                <a href="#" class="page-link" id="next-page-top" onclick="scrollToTop()"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>

<div id="{{ include.albumname }}">
    {% for image in imageFiles %}
        {% assign postname = image.path | replace: '/Thumbnails', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' %}
        {% assign page = forloop.index | divided_by: images_per_page | plus: 1 %}
        
        <div class="page" data-page="{{ page }}">
            {% assign remainder = forloop.index | modulo: images_per_page %}
            {% if lastpostname != postname or remainder == 0  %}
                <h2>{{ postname }}</h2>
                {% assign lastpostname = postname %}
            {% endif %}
            
            {% assign redirect = '/posts/' | append: postname | replace: ' ', '-' %}
            <a href="{{ redirect }}">
                <img data-src="{{ image.path }}"  src="" title="{{ redirect }}" alt="{{ redirect }}" />
            </a>
            <br><br>
        </div>
    {% endfor %}
</div>

<!-- Pagination links (bottom)-->
<div id="pagination-bottom" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link" id="prev-page-bottom" onclick="scrollToTop()" aria-label="previous-page"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
            <li class="page-item">
                <a href="#" class="page-link" data-page="{{ i }}" onclick="scrollToTop()">{{ i }}</a>
            </li> 
            {% endfor %}
            <li class="page-item">
                <a href="#" class="page-link" id="next-page-bottom" onclick="scrollToTop()" aria-label="next-page"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
