
{% assign caption = include.caption | default: site.data.img-info[include.img].title %}

{% case include.align %}
  {% when "left" %}
    {% assign class = "sjg-left" %}
  {% when "left-33" %}
    {% assign class = "sjg-left-33" %}
  {% when "left-50" %}
    {% assign class = "sjg-left-50" %}
  {% when "right" %}
    {% assign class = "sjg-right" %}
  {% when "right-33" %}
    {% assign class = "sjg-right-33" %}
  {% when "right-50" %}
    {% assign class = "sjg-right-50" %}
  {% when "center" %}
    {% assign class = "sjg-center" %}
  {% when "center-wide" %}
    {% assign class = "sjg-center-wide" %}
  {% when "center-full" %}
    {% assign class = "sjg-center-full" %}
  {% else %}
    {% assign class = "sjg-center-full" %}
{% endcase %}

<div style="height: 0.001rem;" ></div>
<div class="{{ class }}">
    <img src="{{ include.img }}" alt="{{ include.img }}" title="{{ caption }}">
    <figcaption>{{ caption }}</figcaption>
</div>
