
{% assign caption1 = site.data.img-info[include.img1].title %}
{% assign caption2 = site.data.img-info[include.img2].title %}

<div class="flex-container">
  <figure class="flex-item">
    <img src="{{ include.img1 }}" style="margin: 0 10px 0 0; ">
    <figcaption class="text-center">{{ caption1 }}</figcaption>
  </figure>
  <figure class="flex-item">
    <img src="{{ include.img2 }}" style="margin: 0 0 0 10px; ">
    <figcaption class="text-center" >{{ caption2 }}</figcaption>
  </figure>
</div>

