{% assign mode = include.mode | default: 'latest' %}
{% assign limit = include.limit %}
{% assign has_limit = include.limit | default: '' %}
{% assign show_title = include.show_title | default: true %}

{% if mode == 'favorites' %}
  {% assign posts = site.posts | where_exp: 'p', 'p.favorite' %}
  {% assign pinned_posts = posts | where_exp: 'p', 'p.pin' %}
  {% assign unpinned_posts = posts | where_exp: 'p', 'p.pin != true' %}
  {% assign posts = pinned_posts | concat: unpinned_posts %}
  {% if has_limit != '' %}
    {% assign posts = posts | slice: 0, limit %}
  {% endif %}
{% elsif mode == 'modified' %}
  {% if has_limit == '' %}
    {% assign limit = 3 %}
  {% endif %}

  {% assign recent_by_date = site.posts | slice: 0, 3 %}
  {% assign recent_url_1 = recent_by_date[0].url %}
  {% assign recent_url_2 = recent_by_date[1].url %}
  {% assign recent_url_3 = recent_by_date[2].url %}

  {% assign modified_posts = site.posts | where_exp: 'p', 'p.last_modified_at' | sort: 'last_modified_at' | reverse %}
  {% assign posts = modified_posts | where_exp: 'p', 'p.url != recent_url_1 and p.url != recent_url_2 and p.url != recent_url_3' %}

  {% assign posts = posts | slice: 0, limit %}
{% else %}
  {% if has_limit == '' %}
    {% assign limit = 3 %}
  {% endif %}
  {% assign posts = site.posts | slice: 0, limit %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    {% if include.eager_first and forloop.first %}
      {% include post-card-item.html post=post loading='eager' fetchpriority='high' %}
    {% else %}
      {% include post-card-item.html post=post %}
    {% endif %}
  {% endfor %}
</div>
