
{% assign images = include.images %}
{% assign images = images | split: ',' %}

<div id="swiper" class="swiper">
    <div class="swiper-wrapper">
        {% for image in images %}
        {% assign imagef = image | strip %}
        <div class="swiper-slide">
            <img src="{{ imagef }}" class="lg-item" alt="{{ imagef }}"/>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
</div>

<script>
const swiper = new Swiper('.swiper', {


  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>