.carousel-item {
    .lg-item img {
        max-width: 100%; /* Ensure image doesn't exceed the width of its container */
        max-height: 100%; /* Ensure image doesn't exceed the height of its container */
        position: absolute; /* Position the image absolutely within its container */
        inset: 0; /* Shorthand for top, right, bottom, left all set to 0 */
        margin: auto; /* Center the image horizontally and vertically */
    }
    height: 700px;
    text-align: center; /* Center the image horizontally */
    position: relative;

}

.carousel-inner {
    width: 100%;
    overflow: hidden; /* Ensures images won't overflow horizontally */
}