.carousel-item {
    .sjg-item img {
        max-width: 100%; /* Ensure image doesn't exceed the width of its container */
        max-height: 100%; /* Ensure image doesn't exceed the height of its container */
        position: absolute; /* Position the image absolutely within its container */
        inset: 0; /* Shorthand for top, right, bottom, left all set to 0 */
        margin: auto; /* Center the image horizontally and vertically */
    }
    height: 700px;
    text-align: center; /* Center the image horizontally */
    position: relative;

}

.carousel-inner {
    width: 100%;
    overflow: hidden; /* Ensures images won't overflow horizontally */
}

.carousel-caption {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    padding: 10px;
    background: var(--topbar-bg);
    color: var(--heading-color);
    h4 {
        margin: 0;
        font-size: 1em;
        font-weight: var(--bs-body-font-weight);
    }
    p {
        margin: 0;
        font-size: 0.85em;
    }
    a {
        text-decoration: none; // remove underline

        &:hover {
            text-decoration: underline; // add underline on hover
        }
    }
}

.carousel-indicators {
    margin-bottom: -2rem;
}