.w-66 {
    width: 66% !important;
}

.w-33 {
    width: 33% !important;
}

img {
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex: auto;
    text-align: center;
}

.flex-item img {
    width: 100%; /* Adjust as needed */
}

figcaption {
    font-size: 0.875rem; /* Adjust as needed */
    color: var(--text-color);
    text-align: center;
}


.sjg-video {
    margin-bottom: 0rem;
    preload: "metadata";
}

.sjg-left {
    float: left;
    width: 66% !important;
    margin: 0rem 1rem 1rem 0rem;
}

.sjg-left-33 {
    float: left;
    width: 33% !important;
    margin: 0rem 1rem 1rem 0rem;
}

.sjg-left-50 {
    float: left;
    width: 50% !important;
    margin: 0rem 1rem 1rem 0rem;
}

.sjg-right {
    float: right;
    width: 66% !important;
    margin: 0rem 0rem 1rem 1rem;
}


.sjg-right-33 {
    float: right;
    width: 33% !important;
    margin: 0rem 0rem 1rem 1rem;
}

.sjg-right-50 {
    float: right;
    width: 50% !important;
    margin: 0rem 0rem 1rem 1rem;
}


.sjg-center {
    width: 75% !important;
    margin: auto;
}

.sjg-center-full {
    width: 100% !important;
    margin: auto;
}

.sjg-center-wide {
    width: 90% !important;
    margin: auto;
}

h3 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.5em !important;
    font-size: 1.33rem !important;
}

.sjg-list {
    list-style: none;
  }
  
.sjg-list li::before {
    content: "\2713"; /* This is the Unicode for the Font Awesome check icon */
    display: inline-block;
    margin-right: 10px;
    font-family: 'FontAwesome';
}