

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .myThumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .myThumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.7;
  }

  .myThumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .myThumbs img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-caption {
    font-family: system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans','Liberation Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    h4 {
        margin: 0;
        font-size: 1em;
        font-weight: var(--bs-body-font-weight);
        color: white !important;
    }
    p {
        margin: 0;
        font-size: 0.85em;
        color: white !important;
    }
    a {
        text-decoration: none; // remove underline

        &:hover {
            text-decoration: underline; // add underline on hover
        }
    }
  }