img {
    border-radius: 10px;
}

#pagination-top, #pagination-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.current-page {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-td {
    width: 50%;
}

.image-container {
    margin: 10px;
}

.gallery-table {
    width: 100%;
    table-layout: fixed;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-image {
    width: auto;
    height: auto;
}