img {
    border-radius: 10px;
}

#pagination-top, #pagination-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.current-page {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-container {
    margin: 5px 5px 5px 5px;
}

.image-container-left {
    margin: 5px 5px 5px 0px;
    flex:auto;
    align-self: center;
}

.image-container-right {
    margin: 5px 0px 5px 5px;
    flex: auto;
    align-self: center;
}

.image-container-left img {
    width: 100%;
}

.image-container-right img {
    width: 100%;
}

.image-container-center {
    display: block;
    margin: 5px auto 5px auto;
    justify-content: center;  
    align-items: center;
    text-align: center;
    width: 100%;
}

.image-container-center img {
    width: 60%;
}

.image-layout {
    display: flex !important;
}