img {
    border-radius: 10px;
}

#pagination-top, #pagination-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.current-page {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
