---
layout: page
---
<head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script type="text/javascript" src="/assets/js/gallery.js"></script>
</head>
{% include head-mypost.html %}

<body>
{% assign albumfolder = page.albumfolder %}
{{ page.description }}
{% assign show_captions = page.captions %}
{% assign templateImageFiles = site.static_files | where_exp: "item", "item.path contains 'thumbnails'" %}
{% assign imageFiles = templateImageFiles | where_exp: "item", "item.path contains albumfolder" %}
{% assign gallery_images_per_page = 12 %}

{% assign last_post_name = '' %}
{% assign current_post = 0 %}
{% assign postarray = "" %}
{% assign imagecount = 0 %}
{%  assign currentpage =  1 %}
{% for image in imageFiles %}
    {% assign postname = image.path | replace: '/thumbnails', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
    {% if forloop.first == false  %}
        {% if postname != last_post_name %}
            {% assign postarray = postarray | append: imagecount | append: ',' %}
            {% assign current_post = current_post | plus: 1 %}
            {% assign imagecount = 0 %}   
        {% endif %}
    {% endif %}
    {% assign imagecount = imagecount | plus: 1 %}
    {% assign last_post_name = postname %} 
{% endfor %}
{% assign postarray = postarray | append: imagecount | append: ',' %}


{% assign postarray = postarray | split: ',' %}
{% assign pagearray = "" %}
{% assign currentpage = 1 %}
{% assign pageimagecount = 0 %}
{% for postcount in postarray %}
    {% assign pageimagecount =  pageimagecount | plus: postcount %}
    {% if pageimagecount > gallery_images_per_page %}
        {% assign currentpage = currentpage | plus: 1%}
        {% assign pageimagecount = postcount %}
    {% endif %}
    {% assign pagearray = pagearray |  append:  currentpage | append: ',' %} 
{% endfor %}
{% assign postpagearray = pagearray | split: ',' %}

{% assign total_pages = currentpage %}
{% assign last_post_name = '' %}

{% if total_pages > 1 %}
<!-- Note that in the top and bottom pagination links, the img-link is a bit of a hack that stops the 'content' class from being applied to the page-link which causes hovering color issues -->
<!-- Pagination links (top)-->
<div id="pagination-top" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link img-link" id="prev-page-top" onclick="scrollToTop()"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
                <li class="page-item">
                    <a href="#" class="page-link img-link" data-page="{{ i }}" onclick="scrollToTop()">{{- i -}}</a>
                </li>
            {% endfor %}
            <li class="page-index align-middle">
                <span class="mobile-span">1</span>
                <span class="text-muted"> / {{ total_pages }}</span>
            </li>
            <li class="page-item">
                <a href="#" class="page-link img-link" id="next-page-top" onclick="scrollToTop()"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}

<div id="image-gallery" >

        {% assign currentcolumn = 1 %}
        {% assign maxcolumns = 2 %}
        {% assign currentimageindex = 0 %}
        {% for imagecount in postarray %}
            {% assign page = postpagearray[forloop.index0] %}    
            {% assign ubound = imagecount | minus: 1 %}
            {% for i in (0..ubound) %}
                {% assign image = imageFiles[currentimageindex] %}
                {% assign postname = image.path | replace: '/thumbnails', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
                {% if forloop.first %}
                    <div class="page" data-page="{{ page }}">
                {% endif %}

                {% if forloop.first %}
                    <div class="page-header"><h2>{{ postname }}</h2></div>
                {% endif %}
                
                {% if currentcolumn == 1 %}
                    <div class="image-layout">
                {% endif %}

                {% if currentcolumn == 1 %}
                    {% assign mymargin = "image-container-left" %}
                {%  elsif currentcolumn == maxcolumns %}
                    {% assign mymargin = "image-container-right" %}
                {% else %}
                    {% assign mymargin = "image-container" %}
                {% endif %}

                {% if forloop.last %}
                    {% assign j = forloop.index | modulo: 2 %}
                    {% if j == 1 %}
                        {% assign mymargin = "image-container-center" %}
                    {% endif %}
                {% endif %}

                <div class={{ mymargin }}>
                    {% assign redirect = '/posts/' | append: postname | replace: ' ', '-' %}
                    {% assign caption = site.data.img-info[image.name].title %}
                    <a href="{{ redirect }}">
                        <img data-src="{{ image.path }}" title="{{ redirect }}" alt="{{ redirect }}" />
                    </a>
                    {% if show_captions  %}
                    <figcaption class="text-center">{{ caption }}</figcaption>
                    {% endif %}
                </div>            
                 
                {% if currentcolumn == maxcolumns or forloop.last %}
                    </div>
                    {% assign currentcolumn = 0 %}
                {% endif %}
                {% if forloop.last %}
                    </div>
                    {% assign currentcolumn = 0 %}
                {% endif %}

                {% assign currentcolumn = currentcolumn | plus: 1 %}
                {% assign currentimageindex = currentimageindex | plus: 1 %}
            {% endfor %}
        {% endfor %}
</div>

{% if total_pages > 1 %}
<!-- Pagination links (bottom)-->
<div id="pagination-bottom" data-total-pages="{{ total_pages }}">
    <nav aria-label="Page Navigation">
        <ul class="pagination align-items-center mt-4 mb-0">
            <li class="page-item">
                <a href="#" class="page-link img-link" id="prev-page-bottom" onclick="scrollToTop()" aria-label="previous-page"><i class="fas fa-angle-left"></i></a>
            </li>
            {% for i in (1..total_pages) %}
            <li class="page-item">
                <a href="#" class="page-link img-link" data-page="{{ i }}" onclick="scrollToTop()">{{ i }}</a>
            </li> 
            {% endfor %}
            <li class="page-index align-middle">
                <span class="mobile-span">1</span>
                <span class="text-muted"> / {{ total_pages }} </span>
            </li>
            <li class="page-item">
                <a href="#" class="page-link img-link" id="next-page-bottom" onclick="scrollToTop()" aria-label="next-page"><i class="fas fa-angle-right"></i></a>
            </li>
            

        </ul>
    </nav>
</div>
{% endif %}
</body>
