---
layout: nil
---
{% include lang.html %}
<html lang="{{ lang }}">

<head>
    <title>{{ page.title }}</title>
    <meta name='description' content="Steven Goulet's Image Gallery from his photo blog.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery-bundle.min.css" integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: black;
        }
    </style>

</head>
{% include lang.html %}
{% include head-mypost.html %}
<div id="inline-gallery-container" class="inline-gallery-container"></div>
{% assign albumfolder = page.albumfolder %}

{% assign show_captions = page.captions %}
{% assign imageFiles = site.static_files | where_exp: "item", "item.path contains 'tinyfiles'" %}
{% assign imageFiles = imageFiles | where_exp: "item", "item.path contains albumfolder" %}
{% assign imageFiles = imageFiles | where_exp: "item", "item.extname == '.jpeg'" %}
{% assign imageFiles = imageFiles | where_exp: "item", "item.name[0] != 'x'" %}


<script type="text/javascript">

var dynamicImages = [
    {% for image in imageFiles %}
        {% if site.data.img-info[image.name].gallery %}
            {% assign postname = image.path | replace: '/tinyfiles', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
            {% assign redirect = '/posts/' | append: postname | replace: ' ', '-' %}
            {% assign datetaken =  site.data.img-info[image.name].datetaken  | date: "%b %-d, %Y" %}
            {
                'src': '{{ image.path | replace: "/tinyfiles", "" }}',
                'thumb': '{{ image.path }}',
                'href': '{{ redirect }}',
                'width': '{{ site.data.img-info[image.name].width }}',
                'height': '{{ site.data.img-info[image.name].height }}',
                'slideName': '{{ image.name }}',
                'subHtml': "<div class='inline-gallery-captions lightGallery-captions'><a href='{{ redirect }}'><h4>{{ site.data.img-info[image.name].title }}</h4><p>{{ datetaken }}</p></a></div>"
            },
        {% endif %}
    {% endfor %}
];

const lgContainer = document.getElementById('inline-gallery-container');

lgContainer.addEventListener('lgBeforeClose', function(event) {
    let currentSlideIndex = inlineGallery.index;
    let currentSlideName = dynamicImages[currentSlideIndex].slideName;
    localStorage.setItem('lastSlideName', currentSlideName);

    if (referrerUrl && !referrerUrl.includes('/gallery'))  {
        window.location.href = referrerUrl;
    } else {
        window.location.href = '/index.html';
    }
});

inlineGallery = lightGallery(lgContainer, {
    container: lgContainer,
    dynamic: true,
    hash: true,
    closable: true,
    showMaximizeIcon: false,
    showCloseIcon: true,
    toggleThumb: true,
    dynamicEl: dynamicImages,
    appendSubHtmlTo: '.lg-item',
    plugins: [lgZoom, lgThumbnail, lgHash, lgFullscreen, lgAutoplay],
    thumbnail: true,
    licenseKey: 'your_license_key',
    slideDelay: 400,
    customSlideName: true,
    thumbHeight: '120px',
    thumbWidth: 150,
    allowMediaOverlap: false,
    speed: 500
});

let referrerUrl = document.referrer;

let slideIndex = 0;
const hash = window.location.hash;
const matches = hash.match(/slide=([^&]+)/);
if (matches) {
    const slideParam = matches[1];
    const index = dynamicImages.findIndex(image => image.slideName === slideParam);
    slideIndex = index >= 0 ? index : 0;
} else {
    const lastSlideName = localStorage.getItem('lastSlideName');
    if (lastSlideName) {
        const index = dynamicImages.findIndex(image => image.slideName === lastSlideName);
        slideIndex = index >= 0 ? index : 0;
    }
}

inlineGallery.openGallery(slideIndex);


</script>
</html>