---
layout: nil
---
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        body {
            background-color: black;
        }

    </style>
</head>

{% include lang.html %}
{% include head-mypost.html %}

{% assign albumfolder = page.albumfolder %}

{% assign show_captions = page.captions %}
{% assign templateImageFiles = site.static_files | where_exp: "item", "item.path contains 'tinyfiles'" %}
{% assign imageFiles = templateImageFiles | where_exp: "item", "item.path contains albumfolder" %}

<div class="swiper mySwiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for image in imageFiles %}
        {% assign postname = image.path | replace: '/tinyfiles', '' | replace: albumfolder, '' | replace: image.name, '' | replace: '/', '' | replace: '-', ' ' %}
        {% assign redirect = '/posts/' | append: postname | replace: ' ', '-' %}
        {% assign datetaken =  site.data.img-info[image.name].datetaken  | date: "%b %-d, %Y" %}
        <div class="swiper-slide">
            {% assign fullfile = image.path | replace: "/tinyfiles", "" %}
            <img src="{{ fullfile }}" alt="{{ image.name }}"" loading=" loading="lazy">
            <div class='swiper-caption'><a href='{{ redirect }}'><h4>{{ site.data.img-info[image.name].title }}</h4><p>{{ datetaken }}</p></a></div>
        </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<div class="swiper myThumbs">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for image in imageFiles %}
        <div class="swiper-slide">
            <img src="{{ image.path }}" alt="{{ image.name }}"" loading=" loading="lazy">
        </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Initialize Swiper -->
<script>
var myswiper = new Swiper(".myThumbs", {
    loop: true,
    spaceBetween: 10,
    slidesPerView: 5,
    freeMode: true,
    centeredSlides: true,
    watchSlidesProgress: true,
    slideToClickedSlide: true,
});
var mythumb = new Swiper(".mySwiper", {
    loop: true,
    spaceBetween: 10,
    navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
    },
    keyboard: {
    enabled: true,
    onlyInViewport: true,
    },
    thumbs: {
    swiper: myswiper,
    },
});

  </script>